<h2>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" formControlName="currentPassword">
    <mat-error *ngIf="changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.currentPassword.touched">
      Current Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword">
    <mat-error *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
      <span *ngIf="changePasswordForm.controls.newPassword.errors.required">New Password is required</span>
      <span *ngIf="changePasswordForm.controls.newPassword.errors.minlength">New Password must be at least 10 characters long</span>
      <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">New Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="changePasswordForm.controls.confirmPassword.invalid && changePasswordForm.controls.confirmPassword.touched">
      <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Confirm Password is required</span>
      <span *ngIf="changePasswordForm.controls.confirmPassword.errors.mustMatch">Passwords must match</span>
    </mat-error>
  </mat-form-field>

  <button class="btn" mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Continue</button>
</form>