<div class="main">
    <div class="container-about">
        <nav class="navbar">
            <div class="iconnav">
                <h3>Blodo</h3>
            </div>
            
            <ul class="list-nav-bar active">
                <li class="list-item"><a href="#">Products</a></li>
                <li class="list-item"><a href="#">Services</a></li>
                <li class="list-item"><a href="#">About</a></li>
                <li class="list-item"><a style="border: 1px solid black; border-radius: 20px; padding: 10px;" href="#">Log In</a></li>
            </ul>
        </nav>
        <h1>About</h1>
        <h2>We love to make great <br>things, things that matter.</h2>
        <p>Funding handshake buyer business-to-business metrics iPad <br> partnership.First mover advantage innovator success <br> deployment non-disclosure.
        </p>
    </div>
   
   
<div class="ourNumber">
    <h5>our numbers</h5>
    <h1>Handshake infographic mass market <br> crowdfunding itertion.</h1>
   <h2 class="cool">120m <br>Cool feature title</h2>
   <h2 class="feature">10.000<br>Cool feature title</h2>
   <h2 class="title">240 <br>Cool feature title</h2>
</div>

<div class="ourStory">
    <h2>our story</h2>
    <h1>Handshake infographic mass market <br><br> crowdfunding itertion.</h1>

    <p>Conversion angle investor entrepreneur first mover advantage. Handshake <br>
        infographic mass market crowdfunding itertion.Traction stock user expernice <br>
        deployment beta innovator incubator focus.Sales user expernice branding growth <br>
        hacking hloy grail monetization conversion prototype stock network effects.Learning <br>
        curve network effects return on inverstement bootstraping business-to-consumer.
    </p>

</div>

<div class="our-team">
       
    <h2>Our team</h2>
    <h1>The People behind the work </h1>
    
        <p>Conversion angle investor entrepreneur first mover advantage. Handshake <br>
             infographic mass market crowdfunding itertion.Traction stock user expernice
           
         </p>

<div class="our">
    <img src="..\assets\about/Team Member.png" alt=""  class="imge1">
    <img src="..\assets\about/Team Member.png" alt="" class="imge2">
    <img src="..\assets\about/Team Member.png" alt="" class="image3">
</div>
<div class="team">
    <img src="..\assets\about/Team Member (1).png" alt=""  class="frame">
    <img src="..\assets\about/Team Member (2).png" alt="" class="service">
    <img src="..\assets\about/Team Member (2).png" alt="" class="service1">
    <img src="..\assets\about/Team Member (2).png" alt="" class="service1">
</div>
</div>


<div class="our-blog">
    <h2>Our Blog</h2>
    <h1>Value proposition accelerator product <br>management venture</h1>
    <div class="commited">
        <h1>We are commited</h1>
        <p>Conversion angle investor entrepreneur first mover advantage. Handshake <br>
            infographic mass market crowdfunding itertion.
        </p>
    </div>
    <div class="responsible">
        <h1>We are responsible</h1>
        <p>Mass market iPhone buzz conversion anlalytics stock <br>
            iteration responsive web design user expernice <br>
            business plan handshake. Return on inverstement seed <br>
            round MVP backing supply chain.
        </p>
    </div>

    <div class="progress">
     <h1>We aim for progress</h1>
     <p>Bootstraping rockstar first mover advantage <br>
        business model canvas alpha deployment launch <br>
        hacking customer focus.
    </p>
    </div>

</div>


<div class="ramp">
    <h1>An enterprise template to ramp<br><br>up your company website</h1>
    <input type="email" placeholder="your email address">
    <button>start now</button>

</div>

    <div class="footer-page">
        <div class="box1">
            <h1>Blod</h1>
           <p>Social media validation business model <br>canvas graphical user interface launch <br>party creative facebook iPad twitter.</p>
        </div>
        <div class="box2">
            <h3>Landings</h3>
           <p> <a href="#">Home</a></p>
            <p><a href="#">Products</a></p>
            <p><a href="#">Services</a></p>
            
        </div>
        <div class="box3">
            <h3>Company</h3>
            <p><a href="#">Home</a></p>
           <p> <a href="#">Careers</a></p>
           <p><a href="#">Services</a></p>
        </div> 
        <div class="box4">
            <h3>Resources</h3>
           <p><a href="#">Blog</a></p> 
           <p><a href="#">Products</a></p>
           <p><a href="#">Services</a></p>
        </div>
        </div>
        <footer>
            <nav>
                <h1>All rights reserved Developer:nani</h1>
            </nav>
          </footer>


</div>
