
<div class="main">
    <nav class="navbar">
        <div class="iconnav">
            <h3>Blodo</h3>
        </div>
        
        <ul class="list-nav-bar active">
            <li class="list-item"><a href="#">Products</a></li>
            <li class="list-item"><a href="#">Services</a></li>
            <li class="list-item"><a href="#">About</a></li>
            <li class="list-item"><a style="border: 1px solid black; border-radius: 20px; padding: 10px;" href="#">Log In</a></li>
        </ul>
    </nav>
   

    <div class="container2">
        <h1>Save time by building fast<br><br>with Blodo Template</h1>
        <p>Funding handshake buyer business-to-business metrics iPad partnership.First<br>mover advantage innovator success deployment non-disclosure.
        </p>
  
    <div class="image2">
        <img src="..\assets\home\fram.png" alt="">
    </div>

    <button>Buy template</button>
     <button>Explore</button>

    <div class="group-image">
        <img src="..\assets\home\Group 264.png" alt="">
        <img src="..\assets\home\Group 264.png" alt="">
    </div>
   
    

     <div class="nav-down">
        
        <ul class="list-nav">
            <li class="list-item"><a href="#">Blodo</a></li>
            <li class="list-item"><a href="#">Presto</a></li>
            <li class="list-item"><a href="#">Blodo</a></li>
            <li class="list-item"><a href="#">Presto</a></li>
            <li class="list-item"><a href="#">Blodo</a></li>
            <li class="list-item"><a  href="#">Pres</a></li>
        </ul>
    </div>
    </div>

    
    <div class="container-service">
       
        <h1>Our Services</h1>
        <p>Handshake infographic mass market<br><br>crowdfunding iteration.
             </p>
   
    <div class="services">
        <img src="..\assets\home\Frame 280.png" alt=""  class="frame">
        <img src="..\assets\home\Service.png" alt="" class="service">
        <img src="..\assets\home\Service (1).png" alt="" class="service1">
    </div>
    </div>


<div class="income">
    <img src="..\assets\home\Group 216.png" alt="">
    <h1>We connect our customers <br>with the best, and help them<br>keep up-and stay open.</h1>
    <input type="radio">we connect our customers with the best.
    <input type="radio">Advisor success customer lanuch party.
    <input type="radio">Business-to-customer long tail.
    <div>
        
    </div>
    <button>start now</button>
</div>


<div class="agile">
    <h1>We connect our customers <br>with the best, and help them<br>keep up-and stay open.</h1>
    <button>we connect our customers with the best.</button>
    <button>Advisor success customer lanuch party.</button>
    <button>Business-to-customer long tail.</button>
    <img src="..\assets\home/Group 281.png" alt="">
  
</div>

<div class="enterprise">
       
    <p>An enterprise template to ramp<br><br>up your company website
         </p>

<div class="services">
    <img src="..\assets\home\Testimonial.png" alt=""  >
    <img src="..\assets\home\Testimonial (1).png" alt="" class="testimonial">
    <img src="..\assets\home\Testimonial (3).png" alt="">
</div>
</div>


<div class="center-container">
    <img src="../assets/home/Rectangle 1270.png" alt="">
    <h1>We connect our customers <br>with the best, and help them<br>keep up-and stay open.</h1>
    <h2>we connect our customers with the best? <input type="radio"></h2>
    <h2>Android research & developement rockstar?<input type="radio"></h2>
</div>

<div class="our-blog">
       <h1>Our Blog</h1>
    <p>Value proposition acceleratior product<br><br>management venture
         </p>
    <img src="..\assets\home\Group 297.png" alt=""  >

    <button>Load more</button>
</div>

<div class="ramp">
    <h1>An enterprise template to ramp<br><br>up your company website</h1>
    <input type="email" placeholder="your email address">
    <button>start now</button>

</div>
  
    <div class="footer-page">
        <div class="box1">
            <h1>Blod</h1>
           <p>Social media validation business model <br>canvas graphical user interface launch <br>party creative facebook iPad twitter.</p>
        </div>
        <div class="box2">
            <h3>Landings</h3>
           <p> <a href="#">Home</a></p>
            <p><a href="#">Products</a></p>
            <p><a href="#">Services</a></p>
            
        </div>
        <div class="box3">
            <h3>Company</h3>
            <p><a href="#">Home</a></p>
           <p> <a href="#">Careers</a></p>
           <p><a href="#">Services</a></p>
        </div> 
        <div class="box4">
            <h3>Resources</h3>
           <p><a href="#">Blog</a></p> 
           <p><a href="#">Products</a></p>
           <p><a href="#">Services</a></p>
        </div>
        </div>
        <footer>
            <nav>
                <h1>All rights reserved Developer:nani</h1>
            </nav>
          </footer>


</div>
