.extra{
    flex: 1 1 auto;
  }
  
  .logo{
    height: 40px;
    margin-right: 16px;
  }
  .login{
    margin: 10px;
  }
  .home{
    margin-right: 25px;
  }
  .contacts{
    margin-right: 25px;
  }
  .about{
    margin-right: 25px;
  }
  .country{
    margin-right: 25px;
    color:rgb(8, 4, 4);
  }
  .sidenav {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  mat-sidenav {
    width: 200px;
    padding: 20px;
  }
  mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 35px;
    background: white;
  }
  .btn:hover{
    background: rgb(110, 161, 202);
    color: white;
  }